.pageWrapper {
  box-sizing: border-box;
  overflow-x: hidden;
}

.sectionWrapper {
  width: 100vw;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: center;
  height: calc(100vh - 87px);
  top: 0;
  position: fixed;
  mix-blend-mode: var(--text-blend-mode);
  padding: 0 var(--main-padding-sides);
}

.inner {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  max-width: var(--main-max-width);
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

.text {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  animation: fadeIn 2s;
}

.text h1,
.text p {
  cursor: default;
}

.text p,
.text span {
  font-size: 20px;
}

.text p > span {
  text-decoration: underline;
  text-decoration-color: var(--color-accent);
  color: var(--color-primary);
}

.text p > span:last-of-type {
  font-style: italic;
}

.name {
  display: flex;
  gap: 10px;
  text-shadow: none;
  background-color: var(--color-primary);
  background-image: var(--gradient-hero-text);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name h1 {
  font-size: var(--font-6);
  line-height: 1;
}

.lastName {
  font-style: italic;
}

.projectWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.gradient {
  width: 100%;
  background: linear-gradient(0deg, var(--color-background) 0%, transparent 100%);
  height: 120px;
}

.projectsInnerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  padding: 80px var(--main-padding-sides) 0;
}

.projectsInner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--main-max-width);
}

.projects {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.divider {
  width: 100%;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
}

.divider::before {
  content: "";
  position: relative;
  width: 100%;
  max-width: var(--main-max-width);
  height: 1px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-divider) 10%,
    var(--color-divider) 90%,
    transparent
  );
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .text {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .text {
    width: 100%;
  }
}
