.outer {
  position: relative;
  display: block;
  width: 100vw;
}

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
  background-color: var(--color-background);
  padding: 135px var(--main-padding-sides) 0;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--main-max-width);
}

.header {
  padding: 40px 0 20px;
}

.header h1 {
  font-size: var(--font-5);
  line-height: 1;
}

.grid {
  width: 100%;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 100px;
  }
}
